#box{
    height: 200px;
    width: 200px;
    margin: 40px auto;
    padding: 50px;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

body#colors{
    background: rgba(25, 52, 84, 1);
    color: white;
}

#colors #container{
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
}

#colors #box{
    background: linear-gradient(to right, blue, yellow);
}